*{
  margin: 0;
  padding: 0;
  background-color:grey;
}
.input-tag{
  border: 1px solid #fff;
  height: 50px;
  width: 1500px;
  background-color: #fff;
}
.button-clear{
  margin-left: 1270px;
  border: 5px solid black;
  height: 40px;
  width: 100px;
  border-radius: 7px;
  position: relative;
  bottom: 40px;
}
.button-add{
  border: 5px solid black;
  height: 40px;
  width: 100px;
  border-radius: 7px;
}
.todo-box{
  border: 5px solid black;
  height: 30px;
  width: 90px;
  border-radius: 7px;
 margin-left: 650px;
  position: relative;
  bottom: 80px;

}



.body{
  background-color: black;
}